*{
	font-family:"Georgia";

}


body{
	background-color: #A0ECFF;
}
#Quiz{
	background-color: #F6F7F8;
	width:700px;
	margin:auto;
	padding:20px;
	border-radius:15px;	
}
h1{
	text-align:center;
}
h3{
	font-size:16px;
}
p{
	font-size:17px;
	font-style:italic;
}